<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<string>Copy</string>
	<key>command</key>
	<string>#!/bin/bash
/usr/bin/env php "$SP_BUNDLE_PATH/src/index.php"</string>
	<key>input</key>
	<string>selectedtablerowsastab</string>
	<key>name</key>
	<string>Copy As PHP Array without numeric keys</string>
	<key>scope</key>
	<string>datatable</string>
	<key>tooltip</key>
	<string>Copy selected rows as PHP array without numeric keys</string>
	<key>uuid</key>
	<string>34A7D0D5-0B78-41E8-933D-8A38BB9CDCDF</string>
	<key>withblob</key>
	<string>include</string>
</dict>
</plist>
