<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Nhat Tran</string>
	<key>category</key>
	<string>Query Editor</string>
	<key>command</key>
	<string>#!/usr/bin/php
&lt;?php

$bundlePath = getenv('SP_BUNDLE_PATH');

include $bundlePath . '/src/index.php';</string>
	<key>contact</key>
	<string>aung.gena@vafcver.ia</string>
	<key>input</key>
	<string>selectedtext</string>
	<key>input_fallback</key>
	<string>currentquery</string>
	<key>internalKeyEquivalent</key>
	<dict>
		<key>characters</key>
		<string>H</string>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>keyEquivalent</key>
	<string>$@H</string>
	<key>name</key>
	<string>Beautify SQL</string>
	<key>output</key>
	<string>insertassnippet</string>
	<key>scope</key>
	<string>inputfield</string>
	<key>tooltip</key>
	<string>Beautify SQL Query</string>
	<key>uuid</key>
	<string>10FBD84B-A399-411E-9ECF-21FEBBC8E219</string>
</dict>
</plist>
