<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<string>Copy</string>
	<key>command</key>
	<string>#!/bin/bash
/usr/bin/env php "$SP_BUNDLE_PATH/src/index.php"</string>
	<key>input</key>
	<string>selectedtablerowsastab</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Copy As Deserialized Array without  numeric keys</string>
	<key>scope</key>
	<string>datatable</string>
	<key>tooltip</key>
	<string>Copy selected rows as Deserialized PHP array without numeric keys</string>
	<key>uuid</key>
	<string>C42DDDFA-CC58-4E57-8655-8F0B8F75DE52</string>
	<key>withblob</key>
	<string>include</string>
</dict>
</plist>
